<div class="card-body">
  <div class="row">
    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header h4">
            คำถามที่พบบ่อย
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <td colspan="1"><B>Question</B></td>
                      <td colspan="3"><B>Answer</B></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>test</td>
                      <td>test</td>

                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>test</td>
                      <td>test</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>test</td>
                      <td>test</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">
                      ฝากคำถาม
                    </h5>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">ชื่อ-นามสกุล</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="testtesttest">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">อีเมล</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">เรื่องที่ต้องการฝากถาม</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">เพิ่มเติม</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="testtesttest">
                    </div>
                    <button type="button" class="btn btn-dark">ฝากคำถาม</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.src.ku.ac.th/img/PageS01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ข่าวประกาศสมัครงาน</h5>
        <p class="card-text">18-10-64 ประกาศคณะวิทยาการจัดการ เรื่อง การรับสมัครพนักงานมหาวิทยาลัยเงินรายได้
          ตำแหน่ง
          นักวิชาการศึกษา
        </p>
        <a href="#" class="btn btn-primary">ดูรายละเอียด</a>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.src.ku.ac.th/img/PageS03.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ข่าวรับสมัครงานนิสิต</h5>
        <p class="card-text">
        </p>
        <a href="#" class="btn btn-primary">ดูรายละเอียด</a>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.src.ku.ac.th/services/Banner/2564/1015_104604.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ข่าวการเข้าศึกษา</h5>
        <p class="card-text">14-10-64 กำหนดการรับสมัครเข้าศึกษาระดับปริญญาตรี TCAS65
        </p>
        <a href="#" class="btn btn-primary">ดูรายละเอียด</a>
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.src.ku.ac.th/services/Banner/2563/1229_145626.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ข่าวภายใน วข.</h5>
        <p class="card-text">29-12-63 แนวทางการใช้เทคโนโลยีดิจิทัล KU
        </p>
        <a href="#" class="btn btn-primary">ดูรายละเอียด</a>
      </div>
    </div>