<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
                <li class="breadcrumb-item"><a href="#"> เกี่ยวกับ มก.</a></li>
                <li class="breadcrumb-item active" aria-current="page"> ปณิธาน วิสัยทัศน์ พันธกิจ ยุทธศาสตร์</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                href="#list-home" role="tab" aria-controls="home">ปณิธาน </a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                href="#list-profile" role="tab" aria-controls="profile">วิสัยทัศน์</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                href="#list-messages" role="tab" aria-controls="messages">พันธกิจ</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                href="#list-settings" role="tab" aria-controls="settings">ยุทธศาสตร์</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                วิทยาเขตศรีราชามีความมุ่งมั่นที่จะพัฒนาทรัพยากรมนุษย์ให้มีความรู้
                <br>มีภูมิปัญญา มีคุณธรรมและจริยธรรม เพื่อเสริมสร้างความเจริญก้าวหน้า
                <br>และสืบทอดมรดกที่ดีงามของสังคมโดยความร่วมมือระหว่างสถาบันการศึกษากับภาครัฐและเอกชน
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                มหาวิทยาลัยที่มุ่งเน้นการสร้างสรรค์นวัตกรรมดิจิทัล เพื่อพัฒนาเศรษฐกิจ
                <br> สังคมและสิ่งแวดล้อม ในภาคตะวันออก
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <ol>
                    <li>สร้างและพัฒนานวัตกรรม งานวิจัย และการบริการวิชาการ เน้นด้านดิจิทัล เพื่อพัฒนาเศรษฐกิจ สังคม
                        และสิ่งแวดล้อม </li>
                    <li>สร้างคนที่มีความรู้ที่ทันสมัย มีทักษะในศตวรรษที่ 21 มีความสามารถในการสร้างนวัตกรรม</li>
                    <li>ร่วมพัฒนากับชุมชน และรับผิดชอบต่อสังคม</li>
                    <li>สืบสานทำนุบำรุงศิลปะ วัฒนธรรม และดำรงอัตลักษณ์ของมหาวิทยาลัย</li>
                    <li>บริหารทรัพยากรมหาวิทยาลัยอย่างมีประสิทธิภาพ</li>
                </ol>
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <ol>
                    <li>เป็นองค์กรแห่งดิจิทัล (Digital)</li>
                    <li>เป็นองค์กรผลิตคนที่เป็นเลิศ (Manpower)</li>
                    <li>เป็นองค์กรที่มุ่งเน้นการสร้างนวัตกรรม (Innovation)</li>
                    <li>วัฒนธรรมองค์กรและการบริหารจัดการที่ดี</li>
                    <li>การปรับปรุงกายภาพและระบบความปลอดภัย</li>
                    <li>การสื่อสารองค์กรที่ครอบคลุม</li>
                    <li>การสร้างรายได้เพื่อการพัฒนาและพึ่งพาตนเอง</li>
                    <li>การทำนุบำรุงศิลปวัฒนธรรมที่ดี</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="https://www.src.ku.ac.th/info/images/his1.gif" width="95" height="200">
        <div class="card-body">
            <h5 class="card-title">ประวัติความเป็นมา</h5>
            <p class="card-text"> มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
                เดิมเป็นสถานีวิจัยและสถานที่ฝึกงานเพื่อการศึกษาและวิจัยของนิสิตมหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน</p>
            <p class="card-text"><a href="#" class="btn btn-primary">อ่าน</a></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://f.tpkcdn.com/images-source/7189d937fa86e55dc01ff92a8df8755e.jpg"
            width="95" height="200" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">ประวัติพระพิรุณทรงนาค</h5>
            <p class="card-text">
                พระพิรุณทรงนาคเป็นเครื่องหมายทางราชการของมหาวิทยาลัยเกษตรศาสตร์และเป็นเทพแห่งฝนที่ทรงนำความสมบูรณ์มาให้แก่พืชพรรณธัญญาหาร
            </p>
            <p class="card-text"><a href="#" class="btn btn-primary">อ่าน</a></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top"
            src="https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/0c76425f-f1b1-4d6e-a306-435e72b426fe"
            width="200" height="200" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">เสาธงเมล็ดข้าวเปลือก</h5>
            <p class="card-text"> เสาธงเมล็ดข้าวเปลือกเป็นเอกลักษณ์อีกอย่างหนึ่งของมหาวิทยาลัยเกษตรศาสตร์
                ข้าวเปลือกเป็นสัญลักษณ์แห่งความอุดมสมบูรณ์ของแผ่นดินไทย</p>
            <p class="card-text"><a href="#" class="btn btn-primary">อ่าน</a></p>
        </div>
    </div>
</div>