<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                ติดต่อสอบถาม
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-6">

                        <thead>
                            <tr>

                                <th scope="col">ที่อยู่</th>

                        </thead>
                        <tbody>
                            <tr>
                                <div class="alert alert-light" role="alert">
                                    มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
                                    <br> 199 หมู่ 6 ถนนสุขุมวิท ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี 20230
                                    <br>โทรศัพท์ : 0-3835-4580-4 (666103)
                                </div>
                                <thead>
                                    <tr>

                                        <th scope="col">แผนที่การเดินทาง</th>

                                </thead>
                                <div><br>
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2708.1789636226886!2d100.91632189164363!3d13.121270651138733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102b67ef835f265%3A0x963c6129282e5cb!2sKasetsart%20University%20Sriracha%20Campus!5e0!3m2!1sen!2sth!4v1634651605380!5m2!1sen!2sth"
                                        width="600" height="300" style="border:0;" allowfullscreen=""
                                        loading="lazy"></iframe>
                                </div>
                        </tbody>

                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    แบบฟอร์มการติดต่อสอบถาม
                                </h5>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">ชื่อ</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="testtesttest">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">นามสกุล</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="testtesttest">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">อีเมล</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="name@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1"
                                        class="form-label">เรื่องที่ต้องการติดต่อสอบถาม</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">กิจกรรมนิสิต</option>
                                        <option value="2">การเรียนการสอน</option>
                                        <option value="3">การเข้าศึกษาต่อ ระดับปริญญาตรี</option>
                                        <option value="4">ทุนการศึกษา ระดับปริญญาตรี</option>
                                        <option value="5">การเข้าศึกษาต่อ ระดับบัณฑิตศึกษา</option>
                                        <option value="6">ทุนการศึกษา ระดับบัณฑิตศึกษา</option>
                                        <option value="7">อีเมล์มหาวิทยาลัย</option>
                                        <option value="8">การใช้งานอินเทอร์เน็ต/คอมพิวเตอร์</option>
                                        <option value="9">อบรมคอมพิวเตอร์</option>
                                        <option value="10">อบรมวิชาชีพ</option>
                                        <option value="11">เรื่องทั่วไป</option>
                                        <option value="12">ติดต่อผู้ดูแลระบบ</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-dark">ส่งข้อความ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
        aria-expanded="false"
        aria-controls="multiCollapseExample1 multiCollapseExample2">หมายเลขโทรศัพท์หน่วยงาน</button>
</p>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <li>คณะวิทยาการจัดการ 0-3835-2828 (661000) </li> 
                <li>คณะวิศวกรรมศาสตร์ศรีราชา    0-3835-4580-4 (662202)</li>
                <li>คณะวิทยาศาสตร์ ศรีราชา 0-3835-4587-8 (663014)</li>
                <li>คณะเศรษฐศาสตร์ ศรีราชา 0-3835-2902 (664302)</li>
                <li>คณะพาณิชยนาวีนานาชาติ 0-3835-4580-4 (665301)</li>
                <li>สำนักงานวิทยาเขต 0-3835-4580-4 (666103)</li>
                <li>หน่วยประสานงานวิทยาเขตศรีราชา 0-2942-8878 (644013)</li>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                <li>ศูนย์รักษาความปลอดภัย  0-3835-4580-4 (666666) </li> 
                <li>ห้องพยาบาล 0-3835-4580-4 (666606)</li>
                <li>งานบริการการศึกษา 065-7162627 (666536)</li>
                <li>งานกิจการนิสิต 065-7162628 (666600)</li>
                <li>งานทะเบียนและประมวลผล 065-7162624 (666425)</li>
                <li>งานเทคโนโลยีสารสนเทศ 065-7162630 (666703)</li>
                <li>งานอาคารสถานที่และยานพาหนะ 065-7162631 (666802)</li>
            </div>
        </div>
    </div>
</div>